<div class="container">
  <h1>{{title}}</h1>
  <form [formGroup]="xpForm" (ngSubmit)="onSubmit()" class="form-group">
    <label for="calcType">Calculate from:</label>

    <div class="radio">
      <input class="radio" type="radio" id="level" value="level"
      formControlName="calcType" name="calcType"/>Level
    </div>
    <div class="radio">
      <input type="radio" id="xp" value="xp"
      formControlName="calcType" name="calcType"/>XP
    </div>

    <!-- Input section -->
    <div *ngIf="!!calcType">
      <div *ngIf="calcType == 'level'">
        <label for="currentLevel">Current Level</label>
        <input type="number" class="form-control" id="currentLevel" required
          formControlName="currentLevel" name="currentLevel"/>

        <label for="nextLevel">Target Level</label>
        <input type="number" class="form-control" id="nextLevel" required
            formControlName="nextLevel" name="nextLevel"/>
      </div>
      <div *ngIf="calcType == 'xp'">
        <label for="currentLevelXp">Current XP</label>
        <input type="number" class="form-control" id="currentLevelXp" required
          formControlName="currentLevelXp" name="currentLevelXp"/>

        <label for="nextLevelXp">Next Level XP</label>
        <input type="number" class="form-control" id="nextLevelXp" required
            formControlName="nextLevelXp" name="nextLevelXp"/>
      </div>
      <label for="incrementXp">XP Increment (how much XP does the thing you're doing give per-action?)</label>
      <input type="number" class="form-control" id="incrementXp" required
          formControlName="incrementXp" name="incrementXp"/>
          
      <label for="incrementTimeSeconds">Time Increment (how long (s) does the thing you're doing take per-action?)</label>
      <input type="number" class="form-control" id="incrementTimeSeconds" required
          formControlName="incrementTimeSeconds" name="incrementTimeSeconds"/>
    </div>
    <!-- Output section -->
    <label for="remainingXp">XP Remaining</label>
    <input type="number" class="form-control" id="remainingXp" readonly
      formControlName="remainingXp" name="remainingXp"/>

    <label for="remainingIncrements">Increments Remaining</label>
    <input type="number" class="form-control" id="remainingIncrements" readonly
      formControlName="remainingIncrements" name="remainingIncrements"/>

    <label for="remainingTimeMinutes">Time Remaining (m)</label>
    <input type="number" class="form-control" id="remainingTimeMinutes" readonly
      formControlName="remainingTimeMinutes" name="remainingTimeMinutes"/>

    <button class="button" type="submit">Calculate</button>
  </form>
</div>
